@import url(base.css);
@import url(medias.css);

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .3rem 1.5rem;
}
.header .logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.header .mobile-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    width: 35px;
    height: 35px;
    padding: .2rem;

    background-color: transparent;
}
.header .mobile-icon span{
    width: 100%;
    height: 2px;
    background-color: #000;
}
.header .desk-menu{
    display: none;
}

.header .side-menu{
    position: fixed;
    top: 3rem;
    right: -120%;

    width: 100%;
    height: 100%;
    padding-inline: 3rem;

    background-color: #fff;
    border: 1px solid;
}
.header .side-menu h2{
    padding-block: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.header .side-menu form{
    display: flex;
}
.header .side-menu form input{
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 40px 0 0 40px;
    border: 1px solid;
}
.header .side-menu form button{
    padding: 10px 25px;
    border: 1px solid;  
    border-radius: 0 40px 40px 0;
}
.header .side-menu ul{
    padding-block: 2rem;
    list-style: none;
}
.header .side-menu ul li{
    text-align: center;
    text-transform: capitalize;
}
.header .side-menu ul li a{
    display: block;
    font-size: 1.5rem;
    margin-block: 1rem;
}
.header .side-menu .socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .side-menu .socials a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    padding: 1.8rem;
    margin-inline: .2rem;

    font-size: 2.5rem;
    border: 1px solid;
    border-radius: 15px;
}

.main{
    padding-inline: 1rem;
}
.main .hero{
    padding: 5rem 2rem;
    border: 1px solid;
    border-radius: 15px;
}
.main .hero h1{
    margin-bottom: .5rem;
    font-size: clamp(2.8rem, 6vw, 6rem);
}
.main .hero p{
    width: 250px;
    font-size: clamp(1rem, 2vw, 1rem);
}

.main .benefits{
    display: grid;
    gap: .5rem;
    padding-block: .5rem;
}
.main .benefits h3{
    font-size: clamp(1.5rem, 3vw, 2rem);
}
.main .benefits .benefit-card{
    height: 300px;
    padding: 2rem;

    border: 1px solid;
    border-radius: 15px;
}
.main .benefits .call-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    padding: 2rem;

    border: 1px solid;
    border-radius: 15px;
}
.main .benefits .call-card form{
    display: flex;    
}
.main .benefits .call-card form input{
    width: 100%;
    padding: 10px 15px;

    font-size: 1rem;

    border-radius: 40px 0 0 40px;
    border: 1px solid;
}
.main .benefits .call-card form button{
    padding: 10px 15px;
    border: 1px solid;  
    border-radius: 0 40px 40px 0;
}

.main .quote{
    padding: 10rem 1rem;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.main .teachers{
    display: grid;
    gap: .5rem;
    padding-block: .5rem;
}
.main .teachers .intro-card{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .5rem;
    height: 300px;
    padding: 1rem;
    border: 1px solid;
    border-radius: 15px;
}
.main .teachers .intro-card h3{
    font-size: clamp(1.6rem, 3vw, 2rem);
}
.main .teachers .intro-card p{
    font-size: clamp(1rem, 2vw, 1rem);
}
.main .teachers .teacher-card{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 450px;
    width: 90%;
    padding: 1rem;
    margin: auto;

    border: 1px solid;
    border-radius: 15px;
}
.main .teachers .teacher-card h3{
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 40px;
}

.main .reviews{
    padding-block: 8rem;
}
.main .reviews h2{
    text-align: center;
    padding-bottom: 3rem;
    font-size: clamp(2rem, 4vw, 2.5rem);
}
.main .reviews .reviews-box{
    display: grid;
    gap: .5rem;
}
.main .reviews .reviews-box .profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main .reviews .reviews-box .profile img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}
.main .reviews .reviews-box .review-card{
    padding: 4rem 2rem;
}
.main .reviews .reviews-box .review-card p{
    margin-block: 1rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.main .call-to-action{
    text-align: center;
    padding-block: 15rem;
    border: 1px solid;
}
.main .call-to-action p{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.main .call-to-action button{
    padding: 10px 50px;
    margin-top: 1rem;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    border-radius: 40px;
}

.main .sub-footer{
    display: grid;
    gap: 1rem;
    padding-block: 5rem;
}
.main .sub-footer p{
    font-size: clamp(1rem, 2vw, 1rem);
}
.main .sub-footer h3{
    padding-bottom: .5rem;
}
.main .sub-footer .email h2{
    font-size: clamp(2rem, 6vw, 2.5rem);
    font-weight: bold;
    margin-bottom: .5rem;
}
.main .sub-footer .email form{
    display: flex;
    padding-block: 1rem;
}
.main .sub-footer .email form input{
    width: 90%;
    padding: 10px 15px;

    font-size: 1rem;

    border-radius: 40px 0 0 40px;
    border: 1px solid;
}
.main .sub-footer .email form button{
    padding: 10px 40px;
    border: 1px solid;  
    border-radius: 0 40px 40px 0;
}
.main .sub-footer .contact-socials a{
    font-size: clamp(1.5rem, 6vw, 2rem);
}

.footer{
    padding-block: 2rem;
    text-align: center;
    border: 1px solid;
}
.footer a{
    font-weight: bold;
}