@media screen and (min-width: 768px){
    .header{
        padding: 1rem 2rem;
    }
    .header .mobile-icon{
        display: none;
    }
    .header .desk-menu{
        display: flex;
        gap: .8rem;
    }
    .header .desk-menu a{
        min-width: 110px;
        padding: .3rem;

        text-align: center;
        text-transform: capitalize;

        border: 1px solid;
        border-radius: 40px;
        color: #000;
    }

    .main .quote{
        padding: 10rem 2rem;
        text-align: start;
    }
    .main .quote p{
        width: 60%;
    }
    .main .teachers{
        grid-template-columns: repeat(4, 1fr);
    }
    .main .teachers .intro-card{
        height: 450px;
    }
    .main .teachers .teacher-card{
        width: 100%;
        margin: 0;
    }
    .main .reviews .reviews-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .main .sub-footer{
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    .main .sub-footer .links{
        padding-left: 7rem;
    }

}

@media screen and (min-width: 853px){
    .main{
        padding-inline: 2rem;
    }
    .main .hero{
        height: 400px;
    }
    .main .benefits{
        grid-template-columns: repeat(3, 1fr);
    }
    .main .benefits .benefit-card{
        height: 310px;
    }
    .main .benefits .call-card{
        height: 310px;
    }
    .main .reviews .reviews-box{
        grid-template-columns: repeat(3, 1fr);
    }
}